<template>
    <article class="text-center form_body bg-white lg-shadow lg-pt-8 lg-mt-0 mt-4 sm-pt-8 pt-6 pb-2 px-2 xs-px-5" id="form_fixed" :dir="layoutDirection">
        <div class="form ls-lead-form mt-0">
                <h3 class="subject-title" :class="{ 'text-right': isRtlLayout }">
                    {{form_title}}
                </h3>
            <input type="hidden" name="type" value="">
            <div class="w-full  m-md-auto sign-up">
                <div class="px-0 py-2 py-md-0">

                    <label :for="`leadName${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.name && errors.name.empty}, {'error-input': errors.name && errors.name.invalid}]">
                        <input v-model="newProjectInfo.name" placeholder=" " v-on:focus="reseterror()" :readonly="readonly('name')" :id="`leadName${fieldId}`" autocomplete="name" name="name" v-on:blur="handleFieldOnBlur('name',newProjectInfo.name)">
                        <span>{{formContent.name.label}}</span>
                    </label>

                    <div class="error-message error-name-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.name && errors.name.empty'>
                        <div >{{formContent.name.errorMsg}}</div>
                    </div>

                    <label :for="`leadEmail${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.email && errors.email.empty}, {'error-input': errors.email && errors.email.invalid}]">
                        <input v-model="newProjectInfo.email" placeholder=" " v-on:focus="reseterror()" v-on:blur="handleEmailFieldOnBlur()" :readonly="readonly('email')" :id="`leadEmail${fieldId}`" autocomplete="email" type="email" name="email" :disabled="disableEmail">
                        <span>{{formContent.email.label}}</span>
                    </label>

                    <div class="error-message error-email-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.email && errors.email.empty'>
                        <div>{{formContent.email.errorMsgEmpty}}</div>
                    </div>

                    <div class="error-message error-valid-email-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.email && errors.email.invalid'>
                        <div>{{formContent.email.errorMsgInvalid}}</div>
                    </div>

                    <label for="leadPhone" class="w-full tel-input-wrapper my-2" :class="{'error-tel-input': errors.phone && (errors.phone.empty || errors.phone.invalid)}">
                        <intl-input
                            :disabled="disablePhone"
                            :key="viewerCountryCode || isoCode"
                            :phone="newProjectInfo.phone"
                            :defaultCountry="viewerCountryCode || isoCode"
                            :validatephone="validatephoneAndUpdateError"
                            :triggerOnFocus="reseterror"
                            :onBlur="validatePhoneFromApi"
                            :enabledFlags="enabledFlags"
                            :phonePlaceholder="formContent.phone.label"
                            id="leadPhone"
                        >
                        </intl-input>
                    </label>
                    <div class="error-message error-phone-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.phone && errors.phone.empty'>
                        <div>{{formContent.phone.errorMsgEmpty}}</div>
                    </div>

                    <div class="error-message error-valid-phone-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.phone && errors.phone.invalid'>
                        <div>{{formContent.phone.errorMsgInvalid}}</div>
                    </div>
                    <div class="whatsapp-check">
                        <label class="checkBox"><p class="pg15">{{formContent.whatsapp.label}}</p>
                            <input @click="toggleCheckBox" type="checkbox" :checked="whatsappChecked" id="leadWhatsapp">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div v-if="!propertyFieldDisabled" class="relative">
                        <label :for="`leadProperty${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.property && errors.property.empty}, {'error-input': errors.property && errors.property.invalid}]">
                            <input @keyup="searchProperty" @input="searchProperty" v-model="property_search_key" placeholder=" " v-on:focus="reseterror()" :id="`leadProperty${fieldId}`">
                            <span>{{propertyLabelValue}}</span>
                        </label>
                        <div v-if='showProperty' class="absolute w-full z-10 bg-white" :class="{'property-list': properties && properties.length}">
                            <ul class="list-unstyled p-0">
                                <template v-for='property in properties'>
                                    <li :key="property.placeId" class="flex cursor-pointer show-bottom-border" v-on:click="selectPlaceFromList(property.placeId, property.structuredFormatting.mainText)">
                                        <img class="w-2 h-4 mr-2 align-top" src="https://images.livspace-cdn.com/plain/https://d3gq2merok8n5r.cloudfront.net/lead-form-component-1649325876-Q8ANl/maps-icon-place-1649325886-kul5S.png">
                                        <div>
                                            <div class="display-title text-left">
                                                {{ property.structuredFormatting.mainText }}
                                            </div>
                                            <div class="text text-left pt-2">
                                                {{ property.structuredFormatting.secondaryText }}
                                            </div>
                                        </div>
                                    </li>
                                </template>

                                <li class="flex cursor-pointer text-left" v-on:click="selectPlaceFromList(null, null)">
                                    <img class="w-4 h-4 mr-2 align-top margin-image"
                                         src="https://images.livspace-cdn.com/plain/https://d3gq2merok8n5r.cloudfront.net/lead-form-component-1649325876-Q8ANl/maps-icon-no-place-1649325885-bMHPT.png">
                                    <div>
                                        <div class="display-title text-left red-color">{{formContent.property.propertyNotFoundText}}</div>
                                        <div class="text pt-2 text-left">{{formContent.property.enterAddressText}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="error-message error-property-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.property && errors.property.empty'>
                            <div>{{formContent.property.errorMsg}}</div>
                    </div>
                    <label v-if='showPincode' class="w-full pure-material-textfield-outlined my-2 pincode-label" v-bind:class="[{'error-no-input': errors.pincode && errors.pincode.empty}, {'error-input': errors.pincode && errors.pincode.invalid}]">
                        <input v-model="newProjectInfo.pincode" placeholder=" " autocomplete="off"  v-on:focus="reseterror()" :id="`leadPincode${fieldId}`" @blur="handleFieldOnBlur('pincode',newProjectInfo.pincode)">
                        <span>{{formContent.pincode.label}}</span>
                    </label>
                    <div class="error-message error-pincode-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.pincode && errors.pincode.empty'>
                        <div >{{formContent.pincode.errorMsgEmpty}}</div>
                    </div>
                    <div class="error-message error-valid-pincode-message" :class="isRtlLayout ? 'text-right' : 'text-left'" v-if='errors.pincode && errors.pincode.invalid'>
                        <div v-if="notServiceAbleError">{{notServiceableMsg}}</div>
                        <div v-if="pincodeError">{{formContent.pincode.errorMsgInvalid}}</div>
                    </div>
                    <div class="py-5">
                        <button type="button" class="btn-danger mdc-theme--primary-shape-bg w-full"
                                :class="{'btn48-primary-disabled': disableLeadFormCta}"
                                v-on:click="submitForm" id="leadSubmit">
                            <template>{{submit_button_text}}</template>
                        </button>
                    </div>
                    <div :class="{ 'text-right': isRtlLayout }">
                        <label class="text">{{formContent.tnc.subText}}
                            <a target="_blank" :href="privacy_policy_url" class="no-underline text-brand-primary">
                                {{formContent.tnc.privacyLabel}}
                            </a> &amp;
                            <a target="_blank" :href="term_condition_url" class="no-underline text-brand-primary">
                                {{formContent.tnc.tncLabel}}
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
<script>
    import lead from '../../mixins/lead'
    import { isEmailValid } from '../../utils/emailValidation';
    import { EN_CONTENT, AR_CONTENT } from '../../config/inFormContent'
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        }
    }    
    export default {
        mixins: [lead],
        data () {
            return {
                inputPhone: this.newProjectInfo.phone,
                whatsappChecked: this.newProjectInfo.whatsapp_alert || false,
                whatsappCheckedByUser: false,
                consentChecked: this.newProjectInfo.consent_checked || false,
                consentCheckedByUser: false,
                showMore: false,
                property_search_key: this.newProjectInfo.property_name || '',
                showProperty: false,
                showPincode: false,
                errors: {},
                phoneValidationData: {},
                isPhoneValid: true,
                pincodeError: false,
                notServiceAbleError: false
            }
        },
        computed: {
            formContent() {
                return this.isRtlLayout ? AR_CONTENT : EN_CONTENT
            },
            propertyLabelValue(){
                return this.propertyLabel ? this.propertyLabel : this.formContent.property.label
            }
        },
        methods: {
            showDialCode: function () {
                return !this.inputPhone;
            },
            toggleCheckBox () {
                this.whatsappChecked = !this.whatsappChecked;
                this.whatsappCheckedByUser = true
                this.handleFieldOnBlur('whatsappConsent',this.whatsappChecked)
            },
            toggleConsentCheckBox () {
                this.consentChecked = !this.consentChecked;
                this.consentCheckedByUser = true
            },
            showMoreConsent (e) {
                e.preventDefault();
                this.showMore = !this.showMore;
            },
            submitForm(){
                this.reseterror();
                let errorMessage = false
                if(!this.newProjectInfo.name || !this.alphabetValid(this.newProjectInfo.name)){
                    this.errors['name'] = {}
                    this.errors['name']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyName', this.newProjectInfo)
                }
                if(!this.newProjectInfo.email){
                    this.errors['email'] = {}
                    this.errors['email']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyEmail', this.newProjectInfo)
                } else if (!isEmailValid(this.newProjectInfo.email)) {
                    this.errors['email'] = {}
                    this.errors['email']['invalid'] = true
                    errorMessage = true;
                    this.ValidationError('InvalidEmail', this.newProjectInfo)
                }
                if(!this.newProjectInfo.phone){
                    this.errors['phone'] = {}
                    this.errors['phone']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyPhone', this.newProjectInfo)
                } else if (!this.isPhoneValid) {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = true
                    errorMessage = true;
                    this.ValidationError('InvalidPhone', this.newProjectInfo)
                }
                if(!this.propertyFieldDisabled) {
                    if(!this.property_search_key){
                        this.errors['property'] = {}
                        this.errors['property']['empty'] = true
                        errorMessage = true;
                        this.ValidationError('EmptyProperty', this.newProjectInfo)
                    }
                    if(this.property_search_key){
                        if(!this.newProjectInfo.pincode){
                            this.errors['pincode'] = {}
                            this.errors['pincode']['empty'] = true
                            errorMessage = true;
                            this.showPincode = true
                            this.ValidationError('EmptyPincode', this.newProjectInfo)
                        } else if (this.pincode_list.length && !this.pincode_list.includes(Number(this.newProjectInfo.pincode))){
                            this.errors['pincode'] = {}
                            this.errors['pincode']['invalid'] = true
                            this.notServiceAbleError = true
                            this.pincodeError = false
                            // Allowing to create a lead even in case of non serviceable pincode
                            // errorMessage = true;
                            this.newProjectInfo["serviceable"] = false
                            this.ValidationError('NonServicablePincode', this.newProjectInfo)
                        } else {
                            this.newProjectInfo["serviceable"] = true
                        }
                        if(!this.newProjectInfo.property_name) {
                            this.newProjectInfo["property_name"] = this.property_search_key;
                        }
                        if(this.newProjectInfo.pincode && !this.isValidPincode(this.newProjectInfo.pincode)) {
                            this.errors['pincode'] = {}
                            this.errors['pincode']['invalid'] = true
                            this.pincodeError = true
                            this.notServiceAbleError = false
                            errorMessage = true;
                            this.ValidationError('InvalidPincode', this.newProjectInfo)
                        }
                    }
                }

                if(this.isoCode && this.isoCode.toLowerCase() === 'sa') {
                    this.newProjectInfo["pincode"] = '12946';
                    this.newProjectInfo["serviceable"] = true
                }

                if(errorMessage === true) {
                    return false;
                }
                else {
                    this.newProjectInfo['whatsapp_alert'] = this.whatsappChecked;
                    this.trimEmail();
                    this.submit(this.newProjectInfo)
                }
            },
            reseterror () {
                this.errors = {}
                this.pincodeError = false
                this.notServiceAbleError = false
            },
            searchProperty: debounce(function() {
                if (this.property_search_key) {
                    this.showPlaceList(this.property_search_key)
                }
                this.handleFieldOnBlur('propertyName', this.property_search_key)
            }, 500),
            showListOfPlaces(){
                this.showPincode = false
                this.showProperty = true
                if(this.properties.length === 0){
                    this.showProperty = false
                    this.showPincode = true
                }
            },
            selectPlaceFromList(value, title) {
                if (value) {
                    this.newProjectInfo.google_place_id = value
                    this.newProjectInfo.property_name = title
                    this.property_search_key = title
                    this.showProperty = false
                    this.selectPlace({value: value, title: title})
                    this.handleFieldOnBlur('propertyName',this.newProjectInfo.property_name)
                } else {
                    this.showPincode = true;
                    this.showProperty = false
                    this.newProjectInfo.google_place_id = null
                    this.handleFieldOnBlur('propertyName',this.property_search_key)
                }
            },
            populateSelectedPlace() {
                this.showPincode = false
                this.newProjectInfo.pincode = ''
                var addressComponents = this.property_detail.addressComponents
                var pincode_value = null;
                for(var i = 0; i < addressComponents.length; i ++){
                    if(!addressComponents[i].types.indexOf('POSTAL_CODE')){
                        pincode_value = addressComponents[i].longName
                    }
                }
                if(pincode_value){
                    this.newProjectInfo.pincode = pincode_value
                } else {
                    this.showPincode = true
                }
                this.showProperty = false
            }
        }
    }
</script>