<template>
    <article class="text-center form_body bg-white lg-shadow lg-pt-8 lg-mt-0 mt-4 sm-pt-8 pt-6 pb-2 px-2 xs-px-5" id="form_fixed">
        <div class="form ls-lead-form mt-0">
                <h3 class="subject-title">
                    {{form_title}}
                </h3>
            <input type="hidden" name="type" value="">
            <div class="w-full  m-md-auto sign-up">
                <div class="px-0 py-2 py-md-0">

                    <label :for="`leadName${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.name && errors.name.empty}, {'error-input': errors.name && errors.name.invalid}]">
                        <input v-model="newProjectInfo.name" placeholder=" " v-on:focus="reseterror()" :readonly="readonly('name')" :id="`leadName${fieldId}`" autocomplete="name" name="name" v-on:blur="handleFieldOnBlur('name',newProjectInfo.name)">
                        <span>Name</span>
                    </label>

                    <div class="error-message error-name-message text-left" v-if='errors.name && errors.name.empty'>
                        <div >Please enter your name</div>
                    </div>

                    <label :for="`leadEmail${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.email && errors.email.empty}, {'error-input': errors.email && errors.email.invalid}]">
                        <input v-model="newProjectInfo.email" placeholder=" " v-on:focus="reseterror()" @blur="handleEmailFieldOnBlur()" :readonly="readonly('email')" :id="`leadEmail${fieldId}`" autocomplete="email" type="email" name="email" :disabled="disableEmail">
                        <span>Email ID</span>
                    </label>

                    <div class="error-message error-email-message text-left" v-if='errors.email && errors.email.empty'>
                        <div>Please enter your email address</div>
                    </div>

                    <div class="error-message error-valid-email-message text-left" v-if='errors.email && errors.email.invalid'>
                        <div>Please enter a valid email address</div>
                    </div>

                    <label for="leadPhone" class="w-full tel-input-wrapper my-2" :class="{'error-tel-input': errors.phone && (errors.phone.empty || errors.phone.invalid)}">
                        <intl-input
                            :disabled="disablePhone"
                            :key="viewerCountryCode || isoCode"
                            :phone="newProjectInfo.phone"
                            :defaultCountry="viewerCountryCode || isoCode"
                            :validatephone="validatephoneAndUpdateError"
                            :triggerOnFocus="reseterror"
                            :onBlur="validatePhoneFromApi"
                            :enabledFlags="enabledFlags"
                            phonePlaceholder="Phone number"
                            id="leadPhone"
                        >
                        </intl-input>
                    </label>
                    <div class="error-message error-phone-message text-left" v-if='errors.phone && errors.phone.empty'>
                        <div>Please enter a mobile number</div>
                    </div>

                    <div class="error-message error-valid-phone-message text-left" v-if='errors.phone && errors.phone.invalid'>
                        <div>Please enter a valid mobile number</div>
                    </div>
                    <div class="relative">
                        <label :for="`leadProperty${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.property && errors.property.empty}, {'error-input': errors.property && errors.property.invalid}]">
                            <input @keyup="searchProperty" @input="searchProperty" v-model="property_search_key" placeholder=" " v-on:focus="reseterror()" :id="`leadProperty${fieldId}`">
                            <span>Property Name</span>
                        </label>
                        <div v-if='showProperty' class="absolute w-full z-10 bg-white" :class="{'property-list': properties && properties.length}">
                            <ul class="list-unstyled p-0">
                                <template v-for='property in properties'>
                                    <li :key="property.placeId" class="flex cursor-pointer show-bottom-border" v-on:click="selectPlaceFromList(property.placeId, property.structuredFormatting.mainText)">
                                        <img class="w-2 h-4 mr-2 align-top" src="https://images.livspace-cdn.com/plain/https://d3gq2merok8n5r.cloudfront.net/lead-form-component-1649325876-Q8ANl/maps-icon-place-1649325886-kul5S.png">
                                        <div>
                                            <div class="display-title text-left">
                                                {{ property.structuredFormatting.mainText }}
                                            </div>
                                            <div class="text text-left pt-2">
                                                {{ property.structuredFormatting.secondaryText }}
                                            </div>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="error-message error-property-message text-left" v-if='errors.property && errors.property.empty'>
                        <div>Please enter a property name</div>
                    </div>
                    <label v-if='showPincode' class="w-full pure-material-textfield-outlined my-2 pincode-label" v-bind:class="[{'error-no-input': errors.pincode && errors.pincode.empty}, {'error-input': errors.pincode && errors.pincode.invalid}]">
                        <input v-model="newProjectInfo.pincode" placeholder=" " autocomplete="off"  v-on:focus="reseterror()" :id="`leadPincode${fieldId}`" @blur="handleFieldOnBlur('pincode',newProjectInfo.pincode)">
                        <span>Enter pincode</span>
                    </label>
                    <div class="error-message error-pincode-message text-left" v-if='errors.pincode && errors.pincode.empty'>
                        <div >Please enter pincode</div>
                    </div>
                    <div class="error-message error-valid-pincode-message text-left" v-if='errors.pincode && errors.pincode.invalid'>
                        <div v-if="notServiceAbleError">Sorry, we are currently not serviceable in this locality</div>
                        <div v-if="pincodeError">Please enter valid pincode</div>
                    </div>
                    <div class="consent">
                        <label class="checkBox"><p class="pg12">You hereby agree to our <a target="_blank" :href="privacy_policy_url" class="no-underline text-brand-primary">
                                privacy policy</a>, <a target="_blank" :href="term_condition_url" class="no-underline text-brand-primary">
                                terms & conditions</a> and indicate your consent (i)<span v-if="!showMore" >... </span> <span v-if="!showMore" @click="showMoreConsent" class="text-brand-primary">More</span>
                            <span v-if="showMore"> to being contacted by Interiortech Pte. Ltd. (“Livspace”) via call/e-mail
                            to discuss your requirements and to receive our publicity material
                            and updates; and (ii) to the collection, use, disclosure and
                            care of your personal data in this form by Livspace in accordance
                            with the Personal Data Protection Act 2012.</span> <span v-if="showMore" @click="showMoreConsent" class="text-brand-primary">Less</span> </p>
                            <input @click="toggleConsentCheckBox" type="checkbox" :checked="consentChecked" v-on:focus="reseterror()" id="leadAgreement">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="error-message error-pincode-message text-left" v-if='errors.consent && !errors.consent.isChecked'>
                        <div>Please agree the privacy policy to continue</div>
                    </div>
                    <div class="py-5">
                        <button type="button" class="btn-danger mdc-theme--primary-shape-bg w-full"
                                :class="{'btn48-primary-disabled': disableLeadFormCta}"
                                v-on:click="submitForm" id="leadSubmit">
                            <template>{{submit_button_text}}</template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
<script>
    import lead from '../../mixins/lead'
    import { isEmailValid } from '../../utils/emailValidation';
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        }
    }
    export default {
        mixins: [lead],
        data () {
            return {
                inputPhone: this.newProjectInfo.phone,
                whatsappChecked: this.newProjectInfo.whatsapp_alert || false,
                whatsappCheckedByUser: false,
                consentChecked: this.newProjectInfo.consent_checked || false,
                showMore: false,
                property_search_key: this.newProjectInfo.property_name || '',
                showProperty: false,
                showPincode: false,
                errors: {},
                phoneValidationData: {},
                isPhoneValid: true,
                pincodeError: false,
                notServiceAbleError: false
            }
        },
        methods: {
            showDialCode: function () {
                return !this.inputPhone;
            },
            toggleConsentCheckBox () {
                this.consentChecked = !this.consentChecked;
                this.handleFieldOnBlur('consentChecked',this.consentChecked)
            },
            showMoreConsent (e) {
                e.preventDefault();
                this.showMore = !this.showMore;
            },
            submitForm(){
                this.reseterror();
                let errorMessage = false
                if(!this.newProjectInfo.name || !this.alphabetValid(this.newProjectInfo.name)){
                    this.errors['name'] = {}
                    this.errors['name']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyName', this.newProjectInfo)
                }
                if(!this.newProjectInfo.email){
                    this.errors['email'] = {}
                    this.errors['email']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyEmail', this.newProjectInfo)
                } else if (!isEmailValid(this.newProjectInfo.email)) {
                    this.errors['email'] = {}
                    this.errors['email']['invalid'] = true
                    errorMessage = true;
                    this.ValidationError('InvalidEmail', this.newProjectInfo)
                }
                if(!this.newProjectInfo.phone){
                    this.errors['phone'] = {}
                    this.errors['phone']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyPhone', this.newProjectInfo)
                } else if (!this.isPhoneValid) {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = true
                    errorMessage = true;
                    this.ValidationError('InvalidPhone', this.newProjectInfo)
                }
                if(!this.property_search_key){
                    this.errors['property'] = {}
                    this.errors['property']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyProperty', this.newProjectInfo)
                }
                if(this.property_search_key){
                    if(!this.newProjectInfo.property_name) {
                        this.newProjectInfo["property_name"] = this.property_search_key;
                    }
                    this.newProjectInfo["pincode"] = '111111';
                }
                if(!this.consentChecked){
                    this.errors['consent'] = {}
                    this.errors['consent']['isChecked'] = false
                    errorMessage = true;
                    this.ValidationError('UncheckedConsent', this.newProjectInfo)
                }
                if(errorMessage === true) {
                    return false;
                }
                else {
                    this.newProjectInfo['whatsapp_alert'] = this.whatsappChecked;
                    this.trimEmail();
                    this.submit(this.newProjectInfo)
                }
            },
            reseterror () {
                this.errors = {}
                this.pincodeError = false
                this.notServiceAbleError = false
            },
            searchProperty: debounce(function() {
                if (this.property_search_key) {
                    this.showPlaceList(this.property_search_key)
                }
                this.handleFieldOnBlur('propertyName', this.property_search_key)
            }, 500),
            showListOfPlaces(){
                this.showPincode = false
                this.showProperty = true
            },
            selectPlaceFromList(value, title) {
                if (value) {
                    this.newProjectInfo.google_place_id = value
                    this.newProjectInfo.property_name = title
                    this.property_search_key = title
                    this.showProperty = false
                    this.selectPlace({value: value, title: title})
                    this.handleFieldOnBlur('propertyName',this.newProjectInfo.property_name)
                } else {
                    this.showPincode = false;
                    this.showProperty = false
                    this.newProjectInfo.google_place_id = null
                    this.handleFieldOnBlur('propertyName',this.property_search_key)
                }
            },
            populateSelectedPlace() {
                this.showPincode = false
                this.newProjectInfo.pincode = ''
                var pincode_value = '111111';
                if(pincode_value){
                    this.newProjectInfo.pincode = pincode_value
                } else {
                    this.showPincode = true
                }
                this.showProperty = false
            }
        }
    }
</script>