<template>
    <article class="text-center form_body bg-white lg-shadow lg-pt-8 lg-mt-0 mt-4 sm-pt-8 pt-6 pb-2 px-2 xs-px-5" id="form_fixed">
        <div class="form ls-lead-form mt-0">
                <h3 class="subject-title">
                    {{form_title}}
                </h3>
            <input type="hidden" name="type" value="">
            <div class="w-full  m-md-auto sign-up">
                <div class="px-0 py-2 py-md-0">

                    <label :for="`leadName${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.name && errors.name.empty}, {'error-input': errors.name && errors.name.invalid}]">
                        <input v-model="newProjectInfo.name" placeholder=" " v-on:focus="reseterror()" :readonly="readonly('name')" :id="`leadName${fieldId}`" autocomplete="name" name="name" v-on:blur="handleFieldOnBlur('name',newProjectInfo.name)">
                        <span>Name</span>
                    </label>

                    <div class="error-message error-name-message text-left" v-if='errors.name && errors.name.empty'>
                        <div >Please enter your name</div>
                    </div>

                    <label :for="`leadEmail${fieldId}`" class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.email && errors.email.empty}, {'error-input': errors.email && errors.email.invalid}]">
                        <input v-model="newProjectInfo.email" placeholder=" " v-on:focus="reseterror()" v-on:blur="handleEmailFieldOnBlur()" :readonly="readonly('email')" :id="`leadEmail${fieldId}`" autocomplete="email" type="email" name="email" :disabled="disableEmail">
                        <span>Email ID</span>
                    </label>

                    <div class="error-message error-email-message text-left" v-if='errors.email && errors.email.empty'>
                        <div>Please enter your email address</div>
                    </div>

                    <div class="error-message error-valid-email-message text-left" v-if='errors.email && errors.email.invalid'>
                        <div>Please enter a valid email address</div>
                    </div>

                    <label for="leadPhone" class="w-full tel-input-wrapper my-2" :class="{'error-tel-input': errors.phone && (errors.phone.empty || errors.phone.invalid)}">
                        <intl-input
                            :disabled="disablePhone"
                            :key="viewerCountryCode || isoCode"
                            :phone="newProjectInfo.phone"
                            :defaultCountry="viewerCountryCode || isoCode"
                            :validatephone="validatephoneAndUpdateError"
                            :triggerOnFocus="reseterror"
                            :onBlur="validatePhoneFromApi"
                            :enabledFlags="enabledFlags"
                            phonePlaceholder="Phone number"
                            id="leadPhone"
                        >
                        </intl-input>
                    </label>
                    <div class="error-message error-phone-message text-left" v-if='errors.phone && errors.phone.empty'>
                        <div>Please enter a mobile number</div>
                    </div>

                    <div class="error-message error-valid-phone-message text-left" v-if='errors.phone && errors.phone.invalid'>
                        <div>Please enter a valid mobile number</div>
                    </div>
                     <div class="py-5">
                        <button type="button" class="btn-danger mdc-theme--primary-shape-bg w-full"
                                :class="{'btn48-primary-disabled': disableLeadFormCta}"
                                v-on:click="submitForm" id="leadSubmit">
                            <template>{{submit_button_text}}</template>
                        </button>
                    </div>
                    <div>
                        <label class="text">By submitting this form, you agree to the
                            <a target="_blank" :href="privacy_policy_url" class="no-underline text-brand-primary">
                                privacy policy
                            </a> &amp;
                            <a target="_blank" :href="term_condition_url" class="no-underline text-brand-primary">
                                terms and conditions
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
<script>   
    import { isEmailValid } from '../utils/emailValidation';
    export default {
        data () {
            return {
                inputPhone: this.newProjectInfo.phone,
                whatsappChecked: this.newProjectInfo.whatsapp_alert || false,
                consentChecked: this.newProjectInfo.consent_checked || false,
                showMore: false,
                errors: {},
                phoneValidationData: {},
                isPhoneValid: true,
            }
        },
        props: {
            newProjectInfo: {
                type: Object,
                required: true
            },
            isoCode: {
                type: String,
                default: 'IN'
            },
            viewerCountryCode: {
                type: String,
                default: ''
            },
            submit_button_text: {
                type: String,
                default: 'GET FREE QUOTE'
            },
            form_title: {
                type: String,
                default: 'Talk to a designer'
            },
            readonly_fields: {
                type: Array,
                default: () => ([])
            },
            term_condition_url: {
                type: String,
                default: '/in/service'
            },
            privacy_policy_url: {
                type: String,
                default: '/in/privacy'
            },
            notServiceableMsg: {
                type: String,
                default: 'Sorry, we are currently not serviceable in this locality.'
            },
            enabledFlags: {
                type: Boolean,
                default: true
            }, 
            disableLeadFormCta: {
                type: Boolean,
                default: false
            },
            validatephone: {
                type: Function,
                required: true
            },
            submit: {
                type: Function,
                required: true
            },
            ValidationError: {
                type: Function,
                required: true
            },
            handleFieldChange:{
                type: Function
            },
             //fieldId is used to identify fields uniquely when there are more than one form on same page
            fieldId: {
                type: String,
                default: ''
            },
            disablePhone: {
                type: Boolean,
                default: false
            },
            disableEmail: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            validatephoneAndUpdateError (val, obj) {
                this.phoneValidationData['val'] = val;
                this.phoneValidationData['obj'] = obj;
                this.newProjectInfo["phone"] = (val && val.includes('+')) ? val : "+" + obj.dialCode + val;
                this.$forceUpdate();
            },
            async validatePhoneFromApi () {
                let val = this.phoneValidationData['val'];
                let obj = this.phoneValidationData['obj'];
                let isValid = await this.validatephone(val, obj);
                this.isPhoneValid = isValid;
                if(isValid) {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = false;
                } else {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = true
                }
                this.handleFieldOnBlur('phoneNo',val);
                this.$forceUpdate();
            },
            readonly (field) {
                if (this.readonly_fields.includes(field)) {
                    return true
                } else {
                    return false
                }
            },
            alphabetValid(val){
                let data  = val.trim();
                if( !data ){
                    return false;
                }
                return true;
            },
            isValidPincode(val){
                let pinCodeRegex = /^[1-9][0-9]{5}$/;
                return pinCodeRegex.test(val);
            },
            trimEmail () {
                this.newProjectInfo.email = this.newProjectInfo.email ? this.newProjectInfo.email.trim() : '';
            },
            handleEmailFieldOnBlur() {
                this.newProjectInfo.email = this.newProjectInfo.email && this.newProjectInfo.email.trim();
                this.handleFieldOnBlur('email',this.newProjectInfo.email);
            },
            handleFieldOnBlur(fieldName,fieldValue){
                this.handleFieldChange && this.handleFieldChange({fieldName, fieldValue})
            },
            showDialCode: function () {
                return !this.inputPhone;
            },
            toggleCheckBox () {
                this.whatsappChecked = !this.whatsappChecked;
                this.handleFieldOnBlur('whatsappConsent',this.whatsappChecked)
            },
            toggleConsentCheckBox () {
                this.consentChecked = !this.consentChecked;
            },
            showMoreConsent (e) {
                e.preventDefault();
                this.showMore = !this.showMore;
            },
            submitForm(){
                this.reseterror();
                let errorMessage = false
                if(!this.newProjectInfo.name || !this.alphabetValid(this.newProjectInfo.name)){
                    this.errors['name'] = {}
                    this.errors['name']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyName', this.newProjectInfo)
                }
                if(!this.newProjectInfo.email){
                    this.errors['email'] = {}
                    this.errors['email']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyEmail', this.newProjectInfo)
                } else if (isEmailValid && !isEmailValid(this.newProjectInfo.email)) {
                    this.errors['email'] = {}
                    this.errors['email']['invalid'] = true
                    errorMessage = true;
                    this.ValidationError('InvalidEmail', this.newProjectInfo)
                }
                if(!this.newProjectInfo.phone){
                    this.errors['phone'] = {}
                    this.errors['phone']['empty'] = true
                    errorMessage = true;
                    this.ValidationError('EmptyPhone', this.newProjectInfo)
                } else if (!this.isPhoneValid) {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = true
                    errorMessage = true;
                    this.ValidationError('InvalidPhone', this.newProjectInfo)
                }
                if(errorMessage === true) {
                    return false;
                }
                else {
                    this.newProjectInfo['whatsapp_alert'] = this.whatsappChecked;
                    this.trimEmail();
                    this.submit(this.newProjectInfo)
                }
            },
            reseterror () {
                this.errors = {}
            },
        },
        mounted() {
            if(this.newProjectInfo && this.newProjectInfo.phone) {
                this.phoneValidationData['val'] = this.newProjectInfo.phone;
                this.phoneValidationData['obj'] = {
                    'iso2': (this.viewerCountryCode || this.isoCode || 'in').toLowerCase()
                }
                this.validatePhoneFromApi()
            }
        }
    }
</script>
